<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

</head>
<body>
  <div class="container">
    <h2>This is extracted information</h2>
    <div class="row">
      <div class="col-md-6">
        <form action="/">
          <div class="mb-3 mt-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="email" name="email" value="{{email}}">
          </div>
          <div class="mb-3 mt-3">
            <label for="phone" class="form-label">Phone No:</label>
            <input type="tel" class="form-control" id="phone" placeholder="Phone Number" name="phone" value="{{contact}}">
          </div>
          <div class="mb-3 mt-3">
            <label for="education" class="form-label">Linkedin:</label>
            <input type="text" class="form-control" id="education" placeholder="Education" name="education" value="{{linkdin}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 mt-3">
            <label for="hardSkill" class="form-label">Hard skill:</label>
            <input type="text" class="form-control" id="hardSkill" placeholder="Enter your hard skill" name="hardSkill">
          </div>
          <div class="mb-3">
            <label for="softSkill" class="form-label">Education:</label>
            <input type="password" class="form-control" id="softSkill" placeholder="Enter your soft skill" name="softSkill">
          </div>
          <div class="mb-3">
            <label for="softSkill" class="form-label">Experience:</label>
            <input type="password" class="form-control" id="softSkill" placeholder="Enter your soft skill" name="softSkill">
          </div>
          <div class="mb-3">
            <label for="softSkill" class="form-label">Soft skill:</label>
            <input type="password" class="form-control" id="softSkill" placeholder="Enter your soft skill" name="softSkill">
          </div>
          <div class="mb-3">
            <label for="designation" class="form-label">Designation:</label>
            <input type="text" class="form-control" id="designation" placeholder="Enter your designation" name="designation">
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="remember" name="remember">
            <label class="form-check-label" for="remember">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
    
</body>
</html>